.app {
  text-align: center;
  background-color: black;
  color:white;
  font-size: larger;
  font-weight: bolder;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.footerStyle {
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 0;
  background-color: black;
}

.headerStyle {
  /* background-color: lightseagreen; */
  color: rgb(103, 18, 18);
}

.headerStyle:hover {
  cursor: pointer;
}

.homeBtn {
  margin-bottom: 10px;
  border-radius: 8px;
  border-width: 3px;
}
.homeBtn:hover {
  cursor:pointer;
  background-color: red;
  box-shadow:2px 3px darkred;
}